@import url('https://fonts.googleapis.com/css?family=Orbitron');
$primary-font-color: rgb(170, 170, 170);
$background-color: rgb(32, 32, 32);
$off-background-color: rgb(64, 64, 64);
$blue-team-color: rgb(30,144,255);
$red-team-color: rgb(200,50,50);
$heatbar-color: red;
$heatbar-negative-color: $off-background-color;
$cooldown-bar-color: rgb(255, 50, 50);
$cooldown-bar-negative-color : $off-background-color;
$fancy-font-family: Orbitron;
$modal-wide-width: 80%;
$link-color: gold;
$tooltip-background: $off-background-color;
$tooltip-color: $primary-font-color;
$tooltip-border: thin solid gold;
$emphasis-color: gold;
$error-color: rgb(255,100,100);
$mobile-width: 550px;
/*Main panel styles*/
body {
  background-color: $background-color;
  color: $primary-font-color;
  font-family: sans-serif;
  font-size: 14px;
}
a {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div {
}

.stylishText {
  font-family: $fancy-font-family;
  /*font-family: sans-serif;;*/
}

.branding {
  position: relative;
}

.brandingTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
}

.branding .tm {
  position: relative;
  top: -5px;
  left: -3px;
}

.byline {
  font-size: 0.8em;
  color: $primary-font-color;
}

.controlPanel {

}

.controlPanel .rangeLabel {
  padding: 5px;
  font-weight: bold;
}

.controlPanel .rangeInputContainer{
  float:right;
}

.controlPanel .rangeInput {
  margin-top: 2px;
  padding: 2px;
  width: 50px;
  text-align: right;
}

.controlPanel .rangeInput.disabled {
  background-color: $background-color;
  border: none;
  color: $primary-font-color;
  font-weight: bold;
}

.controlPanel .simTimeContainer {
  margin-top : 10px;
}

.controlPanel .simTime {
  font-weight: bold;
  margin-left: 4px;
}

.controlPanel .simSpeed {
  font-weight: bold;
  float: right;
}

.controlPanel .speedControl {
  margin-top:15px;
}


.controlPanel .speedControl .startSimulationDivButton,
.controlPanel .speedControl .pauseSimulationDivButton,
.controlPanel .speedControl .stepSimulationDivButton
{
  height: 28px;
  margin-bottom: 2px;
  line-height: 18px;
}


.controlPanel .stateControl {
  margin-top: 15px;
}

.controlPanel .miscControl {
  margin-top: 15px;
}

.debugPanel {

}

.debugPanel .debugButton {
  display : none;
}

.debugPanel .debugText {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mechPanelList {

}

.mechPanel {
  border-top: thin solid;
  padding: 5px;
  padding-top: 5px;
}

#blueTeam .mechPanel {
  border-color: $blue-team-color;
}

#redTeam .mechPanel {
  border-color: $red-team-color;
}

.mechPanel .mechHealthAndWeapons {

}

.mechPanel .mechHealthAndWeapons.kia {
  opacity: 0.4;
}


.mechPanel .paperDollContainer {
  width: 65%;
  display:inline-block;
  vertical-align: top;
}

.mechPanel .heatBarAndNumber {
  display:inline-block;;
  width: 20%;
}

.mechPanel .heatbarContainer {
  width: 10px;
  margin: auto;
}

.mechPanel .heatbarContainer .heatbarFrame {
  margin: auto;
}
.mechPanel .heatbarContainer .heatbarFrame .heatbar {
}

.mechPanel .heatNumber {
  font-size: 80%;
  text-align: center;
}

.mechPanel .weaponPanelContainer {
  font-size: 0.9em;
  overflow-y: auto;
  max-height: 300px;
}

.template {
  display: none;
}

/*Paper doll style*/
.paperDoll {
  position:relative;
  height: 100px;
  margin: 0% auto;
}

/*Special case for narrow screens (mobile)*/
@media only screen and (max-width: $mobile-width) {
  .paperDoll {
    position:relative;
    height: 100px;
    width: 50%;
    margin: auto;
  }

  .mechPanel .heatBarAndNumber {
    float: right;
  }
}

.paperDoll .mechLA,
.paperDoll .mechRA,
.paperDoll .mechLT,
.paperDoll .mechRT,
.paperDoll .mechCT,
.paperDoll .mechLL,
.paperDoll .mechRL,
.paperDoll .mechH,
.paperDoll .mechRearLT,
.paperDoll .mechRearRT,
.paperDoll .mechRearCT
{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $background-color;
  position:absolute;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

.paperDoll .mechH {
  top:0%;
  left:39%;
  width: 10%;
  height:7%;
}

.paperDoll .mechLA {
  top: 14%;
  left:82%;
  width:6%;
  height:31%;
}

.paperDoll .mechLT {
  top: 14%;
  left:63%;
  width:10%;
  height:23%;
}

.paperDoll .mechCT {
  top: 14%;
  left:34%;
  width:19%;
  height:48%;
}

.paperDoll .mechRT {
  top: 14%;
  left:15%;
  width:10%;
  height:23%;
}

.paperDoll .mechRA {
  top: 14%;
  left:0%;
  width:6%;
  height:31%;
}

.paperDoll .mechLL {
  top: 55%;
  left:63%;
  width:13%;
  height:35%;
}

.paperDoll .mechRL {
  top: 55%;
  left:12%;
  width:13%;
  height:35%;
}

.mechHealthNumbers {
  padding-top: 5px;
  font-size: 90%;
}

.mechHealthNumbers .healthNumberHeader {
  font-weight: bold;
  text-align: center;
  border-bottom: solid thin white;
}


.mechHealthNumbers .healthNumber {
  text-align: center;
  cursor: default;
}

/*Heat bar style*/
.heatbarFrame {
  position: relative;
  height: 100px;
  background-color: $heatbar-color;
  width: 10px;
}

/*note: the heatbar is actually the empty top part of the heat guage. */
.heatbar {
  top: 0%;
  height:50%;
  width: 100%;
  left:0%;
  background-color: $heatbar-negative-color;
}

/*Weapon panel styles*/
.weaponPanelRow {
  position: relative;
  font-size: 0.9em;
  padding-bottom: 2px;
  transition: background-color 0.3s ease-out;
}

.weaponName {
}

.weaponLocation {

}

.weaponCooldownFrame {
  margin-top: 5px;
  width: 50px;
  height: 5px;
  background-color: $cooldown-bar-negative-color;
  position: relative;
}

.weaponCooldownBar {
  background-color: red;
  height:100%;
  width: 0%;
  position:absolute;
  top: 0%;
  left: 0%;
}

.weaponAmmo {
  text-align: center;
}

.weaponPanelRow.Ready {
}

.weaponPanelRow.Cooldown {
  color : $cooldown-bar-color;
}

.weaponPanelRow.Firing {
  background-color: gray;
  color : white;
}

.weaponPanelRow.Disabled {
  opacity: 0.5;
  color : gray;
}

.weaponPanelRow.Spooling {
  color : white;
}

/*Status panel styles*/
.statusPanelContainer {

}

.statusPanel {

}

.statusPanel .row {
  margin-bottom: 2px;
}

.titlePanelContainer {
  margin-bottom: 3px;
}

.titlePanel {
}

.titlePanel .mechName a {
  font-weight: bold;
  font-size: 1.2em;
}

.titlePanel .mechName a:hover {
}

.titlePanel .deleteMechButton {
  float: right;
  background-color: maroon;
  border: thin solid white;
  border-radius: 5px;
  font-size: 1.2em;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.titlePanel .deleteMechButton:hover {
  background-color: red;
}

.statusPanel .mechSummaryHealthLabel {
  font-weight: bold;
}

.statusPanel .mechSummaryHealthText {
  margin-left: 10%;
  font-weight: bold;
}

.statusPanel .mechTargetLabel,
.statusPanel .mechDPSLabel,
.statusPanel .mechBurstLabel,
.statusPanel .mechTotalDamageLabel {
  font-weight: bold;
  font-size: 0.9em;
}

.statusPanel .mechTargetText,
.statusPanel .mechDPSText,
.statusPanel .mechBurstText,
.statusPanel .mechTotalDamageText {
  font-size: 0.9em;
  margin-left: 10%;
  color: goldenrod;
}



.teamStats {
  padding-bottom: 5px;
}

.teamStats .teamName {
  font-size: 1.7em;
  font-weight: bold;
}

.teamStats.blue .teamName {
  color: $blue-team-color;
}
.teamStats.red .teamName {
  color: $red-team-color;
}

.teamStats .teamStatsDetails{
  font-size: 1em;
  font-weight: bold;
  font-family: $fancy-font-family;
}

.teamStats .mechPipsContainer {
  cursor: pointer;
}

.teamStats .mechPip {
  margin-left : 1px;
  font-size: 1.2em;
}

.teamStats .mechPip:after {
  content: " ";
}

.teamStats .teamHealth .liveMechs {
  font-size: 1.1em;
}

.teamStats .teamHealth .teamHealthValue {
  font-size: 0.9em;
}

.teamStats .teamDPS  {
  font-size: 1.1em;
}

.teamStats .teamDPS .teamDPSValue {
}

.teamStats .teamBurstDamage  {
  font-size: 0.8em;
}

.teamStats .teamBurstDamage .teamBurstDamageValue {

}

.teamStats .teamDamage {
  font-size: 1.1em;
}

.teamStats .teamDamageValue {

}

.teamStats .teamSettingsButtonContainer {
  font-family: sans-serif;
  float: right;
  padding: 5px;
}

.teamStats .teamSettingsButton {
  float:right;
}

.teamStats .teamSettingsButtonArrow {
  float:right;
  color: gold;
  transition: all 0.5s;
  cursor: default;
  user-select: none;
}

.teamStats .teamSettingsButtonArrow.expanded {
  transform: rotate(-180deg);
}

.teamSettings {
  height:0px;
  transition: height 0.5s ease;
  overflow:hidden;
}

.teamSettings.expanded {
  overflow:hidden;
  height: 120px;
}

.teamSettings .teamFirePatternLabel,
.teamSettings .teamTargetMechPatternLabel,
.teamSettings .teamTargetMechComponentLabel,
.teamSettings .teamAccuracyLabel {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: right;
}

#blueTeamStatsContainer .teamFirePatternLabel,
#blueTeamStatsContainer .teamTargetMechPatternLabel,
#blueTeamStatsContainer .teamTargetMechComponentLabel,
#blueTeamStatsContainer .teamAccuracyLabel {
  color: $blue-team-color;
}

#redTeamStatsContainer .teamFirePatternLabel,
#redTeamStatsContainer .teamTargetMechPatternLabel,
#redTeamStatsContainer .teamTargetMechComponentLabel,
#redTeamStatsContainer .teamAccuracyLabel {
  color: $red-team-color;
}

.teamSettings .teamFirePatternValue,
.teamSettings .teamTargetMechPatternValue,
.teamSettings .teamTargetMechComponentValue,
.teamSettings .teamAccuracyValue {
  display: block;
  width: 100%;
  background-color: $background-color;
  border-color: goldenrod;
  border-width: thin;
  color: $primary-font-color;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-weight: bold;
}

.teamSettings .teamFirePatternDesc,
.teamSettings .teamTargetMechPatternDesc,
.teamSettings .teamTargetMechComponentDesc,
.teamSettings .teamAccuracyDesc {
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 5px;
}

.button {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: solid thin black;
  border-radius: 5px;
  background-color: gold;
  color: $background-color;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s ease;
}

.button:hover {
  font-weight: bold;
  background-color: rgb(255,255,30);
}

.button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.textButton {
    color: gold;
    transition: color 0.4s ease;
    cursor: pointer;
}

.textButton:hover {
  font-weight: bold;
  text-decoration: underline;
}

.textButton.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.teamStats .addMechButton {
  font-size: 1em;
  max-width: 7em;
  float: right;
}

.modalScreen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.7);
}

.modalScreen .modalDialog {
  background-color: $background-color;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: $primary-font-color;
}

.modalScreen .modalDialog.wide {
  width: $modal-wide-width;
  margin-top: 5%;
}

.wideInputText {
}


.addMechDialogContainer {

}

.addMechDialog.blue .addMechDialogTitle{
  color: $blue-team-color;
}

.addMechDialog.red .addMechDialogTitle{
  color: $red-team-color;
}

#addMechDialog-text {
  border-radius: 3px;
  border: solid thin gold;
  padding: 3px;
  margin-top: 2px;
  float:none;
}

#addMechDialog-result {
  margin: 3px;
}

@keyframes buttonglow {
  0% {background-color: gold;}
  50% {background-color: rgb(255,255,30);}
  100% {background-color: gold;}
}

@keyframes textglow {
  0% {color: goldenrod;}
  50% {color: yellow;}
  100% {color: goldenrod;}
}

@keyframes progressbarglow {
  0% {background-color: goldenrod;}
  50% {background-color: yellow;}
  100% {background-color: goldenrod;}
}


@keyframes errorblink {
  50% {background-color: rgb(255, 0, 0); color: white;}
}

#addMechDialog-load {
  float:right;
}

#addMechDialog-load.loading {
  cursor:none;
  animation-duration: 1s;
  animation-name: buttonglow;
  animation-iteration-count: infinite;
  opacity: 1;
}

#addMechDialog-ok, #addMechDialog-cancel {
  float: right;
}

#addMechDialog-result {
  word-wrap: break-word;
}

#addMechDialog-result.error {
  animation-duration: 0.5s;
  animation-name: errorblink;
  animation-iteration-count: 1;
}

.loadingScreen {
}

#loadingScreenPaperDollContainer {
  width: 80px;
  height: 100px;
  margin: 0% auto;
}

.loadingScreenText {
  text-align: center;
  font-size: 2em;
  animation-duration: 1s;
  animation-name: textglow;
  animation-iteration-count: infinite;
  color:goldenrod;
}

.loadingScreenProgress {
  margin : 5px auto;
  animation-duration: 1s;
  animation-name: progressbarglow;
  animation-iteration-count: infinite;
  background-color: gold;
  width: 0%;
  height: 3px;
}

.showReportDivButton {

}

.victoryReport {

}

.victoryReport .buttonBar {
  position : absolute;
  width: $modal-wide-width;
}

.victoryReport .closeReportButton {
  float: right;
}

.victoryReport .victorTitle {
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.victoryReport .victorTitle.blue {
  color : $blue-team-color;
}

.victoryReport .victorTitle.red {
  color : $red-team-color;
}

.victoryReport .rangeTitle,
.victoryReport .rangeValue {
  width: 100%;
  text-align: center;
}

.victoryReport .rangeValue {
  font-weight: bold;
  font-size: 1.4em;
}

.victoryReport .blueReportContainer,
.victoryReport .redReportContainer {
  margin-top: 5px;
}

.teamReport .teamName {
  font-size: 1.4em;
  font-weight: bold;
}

.teamReport.blue .teamName {
  color: $blue-team-color;
  border-bottom: solid thin $blue-team-color;
}

.teamReport.red .teamName {
  color: $red-team-color;
  border-bottom: solid thin $red-team-color;
}

.teamReport .summaryStats {
  margin-left: 10px;
  margin-bottom: 5px;
  vertical-align: top;
}

.teamReport .summaryStats .label {
  font-size: 1em;
}

.teamReport .summaryStats .value {
  font-size: 1.4em;
}

.teamReport .label {
  cursor: help;
}
.teamReport .value {
  font-weight: bold;
}

.teamReport .breakDownTitle {
  font-weight: bold;
  margin-top: 5px;
}

.teamReport.blue .breakDownTitle {
  color : $blue-team-color;
}

.teamReport.red .breakDownTitle {
  color : $red-team-color;
}

.teamReport .mechBreakdownContainer,
.teamReport .weaponBreakdownContainer {
  margin-left: 10px;
}

.teamReport .tableHeader {
  font-weight: bold;

}

.teamReport.blue .tableHeader {
  border-bottom: solid thin $blue-team-color;
}

.teamReport.red .tableHeader {
  border-bottom: solid thin $red-team-color;
}

.teamReport .tableRow {
  font-size: 0.9em;
  margin-top: 2px;
}

.teamReport .numberValue {
  text-align: right;
}

.tooltip {
  position:absolute;
  background-color: $tooltip-background;
  color: $tooltip-color;
  border: $tooltip-border;
  border-radius: 7px 0px 7px 0px;
}

.tooltip.error {
  border-color: $error-color;
}

.tooltip.hidden {
  display: none;
}

@media only screen and (max-width: $mobile-width) {
  .tooltip {
    position:relative;
  }
}

.tooltipTitle {
  font-weight: bold;
  color: $emphasis-color;
  margin-bottom: 0.5em;
}

.tooltipTitle.error {
  color: $error-color;
}

.modifiedTooltip,
.permalinkGeneratedTooltip,
.loadErrorTooltip {
  top: 100%;
  left: 5%;
  width: 70%;
  padding: 5px;
}

.modifiedTooltip {

}

.permalinkGeneratedTooltip a {
  text-decoration: underline;
  font-weight: bold;
}

$equipment-color: #3a87ad;
$beam-color : #cb7834;
$ballistic-color : #846b95;
$missile-color: #6acd97;
$loaded-mech-highlight-border-radius: 4px;

.loadedMech {
  padding: 5px;
  line-height: 1.3em;
}

.loadedMech .mechName {
  font-weight: bold;
}

.loadedMech .equipment {
  border-radius: $loaded-mech-highlight-border-radius;
  background-color: $equipment-color;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 4px;
  color: white;
}

.loadedMech .mechArmament {
}

.loadedMech .mechArmament .weaponRow {
  margin-bottom: 3px;
}

.loadedMech .mechArmament .weaponName {
  padding: 2px;
}

.loadedMech .mechArmament .count {
  border-radius: $loaded-mech-highlight-border-radius;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 4px;
  color: white;
}

.loadedMech .mechArmament .ballistic {
  background-color: $ballistic-color;
}

.loadedMech .mechArmament .beam {
  background-color: $beam-color;
}
.loadedMech .mechArmament .missile {
  background-color: $missile-color;
}


.linkPanel {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}
