@import url('https://fonts.googleapis.com/css?family=Orbitron');
$primary-font-color: rgb(170, 170, 170);
$background-color: rgb(32, 32, 32);
$off-background-color: rgb(64, 64, 64);
$blue-team-color: rgb(30,144,255);
$red-team-color: rgb(200,50,50);
$heatbar-color: red;
$heatbar-negative-color: $off-background-color;
$cooldown-bar-color: rgb(255, 50, 50);
$cooldown-bar-negative-color : $off-background-color;
$jam-bar-color : yellow;
$jammed-color : maroon;
$fancy-font-family: Orbitron;
$modal-wide-width: 80%;
$link-color: gold;
$tooltip-background: $off-background-color;
$tooltip-color: $primary-font-color;
$tooltip-border: thin solid gold;
$emphasis-color: gold;
$low-emphasis-color: goldenrod;
$high-emphasis-color: yellow;
$error-color: rgb(255,100,100);
$mobile-width: 0px; //disable mobile for now
$navbar-top: 0px;
$button-bgcolor: gold;
$button-hover-bgcolor: rgb(255, 255, 30);
/*Main panel styles*/
body {
  background-color: $background-color;
  color: $primary-font-color;
  font-family: sans-serif;
  font-size: 14px;
}
a {
  color: $link-color;
  text-decoration: none;
}
a svg {
  fill: $link-color;
}
a:hover {
  text-decoration: underline;
}

div {
}

/*Start grid*/
/*Grid system from https://www.sitepoint.com/understanding-css-grid-systems/*/
.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

@media only screen and (max-device-width: $mobile-width) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
    }
}
/*End grid*/

.nojavascript {
  position: fixed;
  width: 80%;
  margin-top:20%;
  margin-left:10%;
  text-align: center;
  font-size: 1.5em;
  color: $emphasis-color;
  font-weight: bold;
}

.stylishText {
  font-family: $fancy-font-family;
  /*font-family: sans-serif;;*/
}

.fillHeight {
  height: 100%;
}

.fillWidth {
  width: 100%;
}

.branding {
  position: relative;
}

.brandingTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
}

.branding .tm {
  position: relative;
  top: -5px;
  left: -3px;
}

.byline {
  font-size: 0.8em;
  color: $primary-font-color;
}

#controlPanelContainer {
  position: sticky;
  top: $navbar-top;
}

.controlPanel {
}

.controlPanel .rangeLabel {
  padding: 5px;
  font-weight: bold;
}

.controlPanel .rangeInputContainer{
  float:right;
}

.controlPanel .rangeInput {
  margin-top: 2px;
  padding: 2px;
  width: 50px;
  text-align: right;
}

.controlPanel .rangeInput.disabled {
  background-color: $background-color;
  border: none;
  color: $primary-font-color;
  font-weight: bold;
}

.controlPanel .simTimeContainer {
  margin-top : 10px;
}

.controlPanel .simTime {
  font-weight: bold;
  margin-left: 4px;
}

.controlPanel .simSpeed {
  font-weight: bold;
  float: right;
}

.controlPanel .speedControl {
  margin-top:15px;
}


.controlPanel .speedControl .startSimulationDivButton,
.controlPanel .speedControl .pauseSimulationDivButton,
.controlPanel .speedControl .stepSimulationDivButton
{
  height: 28px;
  margin-bottom: 2px;
  line-height: 18px;
}


.controlPanel .stateControl {
  margin-top: 15px;
}

.controlPanel .miscControl {
  margin-top: 15px;
}

.debugPanel {

}

.debugPanel .debugButton {
  display : none;
}

.debugPanel .debugText {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@keyframes flash {
  50% {background-color: $off-background-color};
}

.flashSelected {
  animation: flash 1s ease;
}

.mechPanelList {

}

.mechPanel {
  border-top: thin solid;
  padding: 5px;
  padding-top: 5px;
}

#blueTeam .mechPanel {
  border-color: $blue-team-color;
}

#redTeam .mechPanel {
  border-color: $red-team-color;
}

.mechPanel .mechHealthAndWeapons {

}

.mechPanel .mechHealthAndWeapons.kia {
  opacity: 0.4;
}


.mechPanel .paperDollContainer {
  width: 65%;
  display:inline-block;
  vertical-align: top;
}

.mechPanel .heatBarAndNumber {
  display:inline-block;;
  width: 20%;
}

.mechPanel .heatbarContainer {
  width: 10px;
  margin: auto;
}

.mechPanel .heatbarContainer .heatbarFrame {
  margin: auto;
}
.mechPanel .heatbarContainer .heatbarFrame .heatbar {
}

.mechPanel .heatNumber {
  font-size: 80%;
  text-align: center;
}

.mechPanel .weaponPanelContainer {
  font-size: 0.9em;
  overflow-y: auto;
  max-height: 120px;
}

.mechPanel.dragging {
  background-color: $off-background-color;
  cursor: move;
}

.mechPanel {
  position: relative;
  // max-height: 200px;
  //Expensive when animating 2 panels at a time (when switching from 1 team to another)
  // transition: margin 0.5s ease;
}
.mechPanel.droptarget {
  background-color: $off-background-color;
  // margin-top: 20px; //TODO: expensive when there are many mechs
}

.mechPanel.droptarget::before {
  content: "\25BA";
  position:absolute;
  left: -20px;
  top: -10px;
  z-index: 10;
  color: $emphasis-color;
}

.template {
  display: none;
}

/*Paper doll style*/
.paperDoll {
  position:relative;
  height: 100px;
  margin: 0% auto;
}

/*Special case for narrow screens (mobile)*/
@media screen and (max-device-width: $mobile-width) {
  .paperDoll {
    position:relative;
    height: 100px;
    width: 50%;
    margin: auto;
  }

  .mechPanel .heatBarAndNumber {
    float: right;
  }
}

.paperDoll .mechLA,
.paperDoll .mechRA,
.paperDoll .mechLT,
.paperDoll .mechRT,
.paperDoll .mechCT,
.paperDoll .mechLL,
.paperDoll .mechRL,
.paperDoll .mechH,
.paperDoll .mechRearLT,
.paperDoll .mechRearRT,
.paperDoll .mechRearCT
{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $background-color;
  position:absolute;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

.paperDoll .mechH {
  top:0%;
  left:39%;
  width: 10%;
  height:7%;
}

.paperDoll .mechLA {
  top: 14%;
  left:82%;
  width:6%;
  height:31%;
}

.paperDoll .mechLT {
  top: 14%;
  left:63%;
  width:10%;
  height:23%;
}

.paperDoll .mechCT {
  top: 14%;
  left:34%;
  width:19%;
  height:48%;
}

.paperDoll .mechRT {
  top: 14%;
  left:15%;
  width:10%;
  height:23%;
}

.paperDoll .mechRA {
  top: 14%;
  left:0%;
  width:6%;
  height:31%;
}

.paperDoll .mechLL {
  top: 55%;
  left:63%;
  width:13%;
  height:35%;
}

.paperDoll .mechRL {
  top: 55%;
  left:12%;
  width:13%;
  height:35%;
}

.mechHealthNumbersContainer {
}

.mechHealthNumbers {
  padding-top: 5px;
  font-size: .8em;
}

.mechHealthNumbers .healthNumberHeader {
  font-weight: bold;
  text-align: center;
  border-bottom: solid thin white;
  font-family: monospace;
  cursor: help;
}

.mechHealthNumbers .healthColumnHeader {
  font-weight: bold;
  text-align: right;
  cursor: help;
  font-family: monospace;
}

.mechHealthNumbers .healthCornerHeader {
  padding-bottom: 1px;
}

.mechHealthNumbers .healthNumber {
  text-align: center;
  cursor: default;
}

/*Heat bar style*/
.heatbarFrame {
  position: relative;
  height: 100px;
  background-color: $heatbar-color;
  width: 10px;
}

/*note: the heatbar is actually the empty top part of the heat guage. */
.heatbar {
  top: 0%;
  height:50%;
  width: 100%;
  left:0%;
  background-color: $heatbar-negative-color;
}

/*Weapon panel styles*/
.weaponPanelRow {
  position: relative;
  font-size: 0.9em;
  padding-bottom: 2px;
  transition: background-color 0.3s ease-out;
}

.weaponName {
}

.weaponLocation {

}

.weaponCooldownFrame {
  margin-top: 5px;
  width: 50px;
  height: 5px;
  background-color: $cooldown-bar-negative-color;
  position: relative;
}

.weaponCooldownBar {
  background-color: $cooldown-bar-color;
  height:100%;
  width: 0%;
  position:absolute;
  top: 0%;
  left: 0%;
}

.weaponCooldownBar.over100 {
  background-color: $jammed-color;
}

.weaponCooldownBar.jamBar {
  background-color: $jam-bar-color;
}

.weaponAmmo {
  text-align: center;
}

.weaponPanelRow.Ready {
}

.weaponPanelRow.Cooldown {
  color : $cooldown-bar-color;
}

.weaponPanelRow.Firing,
.weaponPanelRow.CooldownFiring {
  background-color: gray;
  color : white;
}

.weaponPanelRow.Disabled {
  opacity: 0.5;
  color : gray;
}

.weaponPanelRow.Spooling {
  color : white;
}

.weaponPanelRow.Jammed {
  color : $jammed-color;
}

/*Status panel styles*/
.statusPanelContainer {

}

.statusPanel {

}

.statusPanel .row {
  margin-bottom: 2px;
}

.titlePanelContainer {
  margin-bottom: 3px;
}

.titlePanel {
}

.titlePanel .mechName a {
  font-weight: bold;
  font-size: 1.2em;
}

.titlePanel .mechName svg {
  margin-left: 3px;
}

.titlePanel .mechName a:hover {
}

.titlePanel .titleButton {
  border-radius: 5px;
  font-size: 1.2em;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  margin-left: 1%;
}

.titlePanel .titleButton svg {
  vertical-align: middle;
}

.titlePanel .deleteMechButton {
  float: right;
  background-color: maroon;
  border: thin solid white;
  font-weight: bold;
}

.titlePanel .deleteMechButton svg {
  width: 0.6em;
  height: 0.6em;
  fill: white;
}

.titlePanel .deleteMechButton:hover {
  background-color: red;
}

.titlePanel .moveMechButton {
  float: right;
  background-color: $background-color;
  border: thin solid $emphasis-color;
}

.titlePanel .moveMechButton svg {
  width: 1em;
  height: 1em;
  fill: $emphasis-color;
}

.titlePanel .moveMechButton[data-dragenabled="true"] {
  background-color: $emphasis-color;
}
.titlePanel .moveMechButton[data-dragenabled="true"]:hover {
  background-color: $high-emphasis-color;
}

.titlePanel .moveMechButton[data-dragenabled="true"] svg,
.titlePanel .moveMechButton[data-dragenabled="true"]:hover svg {
  fill: $background-color;
}

.titlePanel .moveMechButton:hover {
  background-color: $off-background-color;
}

.statusPanel .mechSummaryHealthLabel {
  font-weight: bold;
}

.statusPanel .mechSummaryHealthText {
  margin-left: 10%;
  font-weight: bold;
}

.statusPanel .mechTargetLabel,
.statusPanel .mechDPSLabel,
.statusPanel .mechBurstLabel,
.statusPanel .mechTotalDamageLabel {
  font-weight: bold;
  font-size: 0.9em;
}

.statusPanel .mechTargetText,
.statusPanel .mechDPSText,
.statusPanel .mechBurstText,
.statusPanel .mechTotalDamageText {
  font-size: 0.9em;
  margin-left: 10%;
  color: $low-emphasis-color;
}

.statusPanel .mechDetailsButtonContainer {
  font-size: 0.9em;
  float: right;
}

.statusPanel .mechDetailsButton {
  float: right;
}

.statusPanel .mechDetailsButtonArrow {
  float: right;
  margin-left: 2px;
  color: $button-bgcolor;
  transition: transform 0.5s ease;
}

.statusPanel .mechDetailsButtonArrow.expanded {
  transform: rotate(180deg);
}

.statusPanel .mechDetailsContainer {
  left: 100%;
  top: -20px;
  position: absolute;
  height: 180px;
  width: 0px;
  border: none;
  overflow: hidden;
  content: " ";
  z-index: 10;
  background-color: $background-color;
  border-color: $emphasis-color;
  border-style: solid;
  border-width: 0px;
  margin-left: 5px;
  transition: all 0.5s ease;
}

.statusPanel .mechDetailsContainer.expanded {
  width: 250%; //percentage of the container (in this case statusPanel)
  border-width: thin;
}

.statusPanel .mechDetails {
  min-width: 250px;
  width: 100%;
}

.statusPanel .mechDetails .mechQuirks {
  overflow: auto;
}

$bonus-color : rgb(50, 150, 50);
$malus-color : rgb(150, 50, 50);
.statusPanel .mechDetails .mechQuirksTitle {
  font-weight: bold;
  color: $emphasis-color;
  margin-bottom: 5px;
}
.statusPanel .mechDetails .mechDetailsQuirk {
  font-size: 0.9em;
}
.statusPanel .mechDetails .mechDetailsQuirk.bonus {
  color: $bonus-color;
}
.statusPanel .mechDetails .mechDetailsQuirk.malus {
  color: $malus-color;
}

.teamStatsNav {
  position: sticky;
  top: $navbar-top;
  z-index: 100;
}

.teamStats {
  padding-bottom: 5px;
  background-color: $background-color;
}

.teamStats .teamName {
  font-size: 1.7em;
  font-weight: bold;
}

.teamStats.blue .teamName {
  color: $blue-team-color;
}
.teamStats.red .teamName {
  color: $red-team-color;
}

.teamStats .teamStatsDetails{
  font-size: 1em;
  font-weight: bold;
  font-family: $fancy-font-family;
}

.teamStats .mechPipsContainer {
  cursor: pointer;
}

.teamStats .mechPip {
  margin-left : 1px;
  font-size: 1.2em;
}

.teamStats .mechPip:after {
  content: " ";
}

.teamStats .teamHealth .liveMechs {
  font-size: 1.1em;
}

.teamStats .teamHealth .teamHealthValue {
  font-size: 0.9em;
}

.teamStats .teamDPS  {
  font-size: 1.1em;
}

.teamStats .teamDPS .teamDPSValue {
}

.teamStats .teamBurstDamage  {
  font-size: 0.8em;
}

.teamStats .teamBurstDamage .teamBurstDamageValue {

}

.teamStats .teamDamage {
  font-size: 1.1em;
}

.teamStats .teamDamageValue {

}

$team_settings_transition : 0.5s;

.teamStats .teamSettingsButtonContainer {
  font-family: sans-serif;
  float: right;
  padding: 5px;
}

.teamStats .teamSettingsButton {
  float:right;
}

.teamStats .teamSettingsButtonArrow {
  float:right;
  color: gold;
  transition: all $team_settings_transition ease;
  cursor: default;
  user-select: none;
}

.teamStats .teamSettingsButtonArrow.expanded {
  transform: rotate(-180deg);
}

.teamSettings {
  height:0px;
  transition: all $team_settings_transition ease;
  background-color: $background-color;
  overflow:hidden;
}

.teamSettings.expanded {
  overflow:hidden;
  height: 120px;
  border-bottom: solid thin $low-emphasis-color;
}

.teamSettings .teamFirePatternLabel,
.teamSettings .teamTargetMechPatternLabel,
.teamSettings .teamTargetMechComponentLabel,
.teamSettings .teamAccuracyLabel {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: right;
}

#blueTeamStatsContainer .teamFirePatternLabel,
#blueTeamStatsContainer .teamTargetMechPatternLabel,
#blueTeamStatsContainer .teamTargetMechComponentLabel,
#blueTeamStatsContainer .teamAccuracyLabel {
  color: $blue-team-color;
}

#redTeamStatsContainer .teamFirePatternLabel,
#redTeamStatsContainer .teamTargetMechPatternLabel,
#redTeamStatsContainer .teamTargetMechComponentLabel,
#redTeamStatsContainer .teamAccuracyLabel {
  color: $red-team-color;
}

.teamSettings .teamFirePatternValue,
.teamSettings .teamTargetMechPatternValue,
.teamSettings .teamTargetMechComponentValue,
.teamSettings .teamAccuracyValue {
  display: block;
  width: 100%;
  background-color: $background-color;
  border-color: $low-emphasis-color;
  border-width: thin;
  color: $primary-font-color;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-weight: bold;
}

.teamSettings .teamFirePatternDesc,
.teamSettings .teamTargetMechPatternDesc,
.teamSettings .teamTargetMechComponentDesc,
.teamSettings .teamAccuracyDesc {
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 5px;
}

.button {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: solid thin black;
  border-radius: 5px;
  background-color: $button-bgcolor;
  color: $background-color;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s ease;
}

.button:hover {
  font-weight: bold;
  background-color: $button-hover-bgcolor;
}

.button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.textButton {
    color: $button-bgcolor;
    transition: color 0.4s ease;
    cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}

.textButton.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.teamStats .addMechButton {
  font-size: 1em;
  max-width: 7em;
  float: right;
}

.modalScreen {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.7);
}

.modalScreen .modalDialog {
  background-color: $background-color;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: $primary-font-color;
}

.modalScreen .modalDialog.addMech {
  margin-top: 5%;
}

.modalScreen .modalDialog.wide {
  width: $modal-wide-width;
  margin-top: 5%;
}

.wideInputText {
}


.addMechDialogContainer {

}

.addMechDialog.blue .addMechDialogTitle{
  color: $blue-team-color;
}

.addMechDialog.red .addMechDialogTitle{
  color: $red-team-color;
}

.addMechDialog-text {
  border-radius: 3px;
  border: solid thin gold;
  padding: 3px;
  margin-top: 2px;
  float:none;
}

.addMechDialog-result {
  margin: 3px;
}

@keyframes buttonglow {
  0% {background-color: gold;}
  50% {background-color: rgb(255,255,30);}
  100% {background-color: gold;}
}

@keyframes textglow {
  0% {color: $low-emphasis-color;}
  50% {color: $high-emphasis-color;}
  100% {color: $low-emphasis-color;}
}

@keyframes progressbarglow {
  0% {background-color: $low-emphasis-color;}
  50% {background-color: $high-emphasis-color;}
  100% {background-color: $low-emphasis-color;}
}


@keyframes errorblink {
  50% {background-color: rgb(255, 0, 0); color: white;}
}

.addMechDialog-load {
  float:right;
}

.addMechDialog-load.loading {
  cursor:none;
  animation-duration: 1s;
  animation-name: buttonglow;
  animation-iteration-count: infinite;
  opacity: 1;
}

.addMechDialog-ok, .addMechDialog-cancel {
  float: right;
}

.addMechDialog-result {
  word-wrap: break-word;
}

.addMechDialog-result.error {
  animation-duration: 0.5s;
  animation-name: errorblink;
  animation-iteration-count: 1;
}

.loadingScreen {
}

#loadingScreenPaperDollContainer {
  width: 80px;
  height: 100px;
  margin: 0% auto;
}

.loadingScreenText {
  text-align: center;
  font-size: 2em;
  animation-duration: 1s;
  animation-name: textglow;
  animation-iteration-count: infinite;
  color:$low-emphasis-color;
}

.loadingScreenProgress {
  margin : 5px auto;
  animation-duration: 1s;
  animation-name: progressbarglow;
  animation-iteration-count: infinite;
  background-color: $emphasis-color;
  width: 0%;
  height: 3px;
}

.loadingTip {
  font-size: 0.8em;
  margin: auto;
  color: $low-emphasis-color;
  width: 50%;
  text-align: center;
}

.showReportDivButton {

}

.victoryReport {

}

.victoryReport .buttonBar {
  position : absolute;
  width: $modal-wide-width;
}

.victoryReport .closeReportButton {
  float: right;
}

.victoryReport .victorTitle {
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.victoryReport .victorTitle.blue {
  color : $blue-team-color;
}

.victoryReport .victorTitle.red {
  color : $red-team-color;
}

.victoryReport .rangeTitle,
.victoryReport .rangeValue {
  width: 100%;
  text-align: center;
}

.victoryReport .rangeValue {
  font-weight: bold;
  font-size: 1.4em;
}

.victoryReport .blueReportContainer,
.victoryReport .redReportContainer {
  margin-top: 5px;
}

.teamReport .teamName {
  font-size: 1.4em;
  font-weight: bold;
}

.teamReport.blue .teamName {
  color: $blue-team-color;
  border-bottom: solid thin $blue-team-color;
}

.teamReport.red .teamName {
  color: $red-team-color;
  border-bottom: solid thin $red-team-color;
}

.teamReport .summaryStats {
  margin-left: 10px;
  margin-bottom: 5px;
  vertical-align: top;
}

.teamReport .summaryStats .label {
  font-size: 1em;
}

.teamReport .summaryStats .value {
  font-size: 1.4em;
}

.teamReport .label {
  cursor: help;
}
.teamReport .value {
  font-weight: bold;
}

.teamReport .breakDownTitle {
  font-weight: bold;
  margin-top: 5px;
}

.teamReport.blue .breakDownTitle {
  color : $blue-team-color;
}

.teamReport.red .breakDownTitle {
  color : $red-team-color;
}

.teamReport .mechBreakdownContainer,
.teamReport .weaponBreakdownContainer {
  margin-left: 10px;
}

.teamReport .tableHeader {
  font-weight: bold;

}

.teamReport.blue .tableHeader {
  border-bottom: solid thin $blue-team-color;
}

.teamReport.red .tableHeader {
  border-bottom: solid thin $red-team-color;
}

.teamReport .tableRow {
  font-size: 0.9em;
  margin-top: 2px;
}

.teamReport .numberValue {
  text-align: right;
}

.tooltip {
  position:absolute;
  background-color: $tooltip-background;
  color: $tooltip-color;
  border: $tooltip-border;
  border-radius: 7px 0px 7px 0px;
}

.tooltip.error {
  border-color: $error-color;
}

.tooltip.hidden {
  display: none;
}

@media only screen and (max-device-width: $mobile-width) {
  .tooltip {
    position:relative;
  }
}

.tooltipTitle {
  font-weight: bold;
  color: $emphasis-color;
  margin-bottom: 0.5em;
}

.tooltipTitle.error {
  color: $error-color;
}

.modifiedTooltip,
.permalinkGeneratedTooltip,
.loadErrorTooltip {
  top: 100%;
  left: 5%;
  width: 70%;
  padding: 5px;
}

.modifiedTooltip {

}

.permalinkGeneratedTooltip a {
  text-decoration: underline;
  font-weight: bold;
}

$equipment-color: #3a87ad;
$beam-color : #cb7834;
$ballistic-color : #846b95;
$missile-color: #6acd97;
$ams-color:#cc6664;
$loaded-mech-highlight-border-radius: 4px;

.loadedMech {
  padding: 5px;
  line-height: 1.3em;
}

.loadedMech .mechName {
  font-weight: bold;
  font-size: 1.1em;
}

.loadedMech .equipment {
  border-radius: $loaded-mech-highlight-border-radius;
  background-color: $equipment-color;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 4px;
  color: white;
}

.loadedMech .mechArmament {
}

.loadedMech .mechArmament .weaponRow {
  margin-bottom: 3px;
}

.loadedMech .mechArmament .weaponName {
  padding: 2px;
}

.loadedMech .mechArmament .count {
  border-radius: $loaded-mech-highlight-border-radius;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 4px;
  color: white;
}

.loadedMech .mechArmament .ballistic {
  background-color: $ballistic-color;
}

.loadedMech .mechArmament .beam {
  background-color: $beam-color;
}
.loadedMech .mechArmament .missile {
  background-color: $missile-color;
}
.loadedMech .mechArmament .ams {
  background-color: $ams-color;
}
.modalScreen .modalDialog.simSettingsDialog {
  width: 50%;
}

#settingsButton {
}

.simSettings .title {
  color: $emphasis-color;
}

.simSettings .applyButton,
.simSettings .cancelButton {
  float:right;
}

.simSettings .value {
  display: block;
  background-color: $background-color;
  border-color: $low-emphasis-color;
  border-width: thin;
  color: $primary-font-color;
}

.simSettings .label {
  color: $emphasis-color;
}

.simSettingsEntry {
  margin-top: 5px;

}

.simSettingsEntry .description {
  height: 2.5em;
  overflow: auto;
}

.simSettingsOKCancel {
  margin-top: 5px;
}

.okCancelButtons .button {
  margin-left: 5px;
}

.linkPanel {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}
