/*@import url('https://fonts.googleapis.com/css?family=Catamaran');*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Maven Pro');
/*Main panel styles*/
body {
  background-color: rgb(32, 32, 32);
  color: rgb(170, 170, 170);
  font-family: sans-serif;
  /*font-family: Orbitron;*/
  font-size: 14px;
}

div {
}

.stylishText {
  font-family: Orbitron;
}

.branding {
  position: relative;
}

.brandingTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: gold;
}

.branding .tm {
  position: relative;
  top: -5px;
  left: -3px;
}

.byline {
  font-size: 0.8em;
  color: rgb(170, 170, 170);
}

.controlPanel {

}

.controlPanel .rangeLabel {
  padding: 5px;
  font-weight: bold;
}

.controlPanel .rangeInput {
  margin-top: 2px;
  padding: 2px;
  width: 50px;
  text-align: right;
}

.controlPanel .rangeInput.disabled {
  background-color: rgb(32,32,32);
  border: none;
  color: rgb(170, 170, 170);
}

.debugPanel {

}

.debugPanel .debugButton {
  display : none;
}

.debugPanel .debugText {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.teamStats {

}

.mechPanelList {

}

.mechPanel {
  border-top: thin solid;
  padding: 5px;
  padding-top: 5px;
}

.mechPanel .paperDollContainer {

}

.mechPanel .heatbarContainer {
  width: 100%;
}

.mechPanel .heatbarContainer .heatbarFrame {
  margin: auto;
}
.mechPanel .heatbarContainer .heatbarFrame .heatbar {
}

.mechPanel .heatNumber {
  font-size: 80%;
  text-align: center;
}

.mechPanel .weaponPanelContainer {
  font-size: 0.9em;
  overflow-y: auto;
  max-height: 300px;
}

.redPanel {
  border-color: red;
}

.bluePanel {
  border-color: blue;
}

.template {
  display: none;
}

/*Paper doll style*/
.paperDoll {
  position:relative;
  height: 100px;
  margin: 0% auto;
}

/*Special case for narrow screens (mobile)*/
@media only screen and (max-width: 550px) {
  .paperDoll {
    position:relative;
    height: 100px;
    width: 80px;
    margin: 0% auto;
  }
}

.paperDoll .mechLA,
.paperDoll .mechRA,
.paperDoll .mechLT,
.paperDoll .mechRT,
.paperDoll .mechCT,
.paperDoll .mechLL,
.paperDoll .mechRL,
.paperDoll .mechH,
.paperDoll .mechRearLT,
.paperDoll .mechRearRT,
.paperDoll .mechRearCT
{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  position:absolute;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

.paperDoll .mechH {
  top:0%;
  left:39%;
  width: 10%;
  height:7%;
}

.paperDoll .mechLA {
  top: 14%;
  left:82%;
  width:6%;
  height:31%;
}

.paperDoll .mechLT {
  top: 14%;
  left:63%;
  width:10%;
  height:23%;
}

.paperDoll .mechCT {
  top: 14%;
  left:34%;
  width:19%;
  height:48%;
}

.paperDoll .mechRT {
  top: 14%;
  left:15%;
  width:10%;
  height:23%;
}

.paperDoll .mechRA {
  top: 14%;
  left:0%;
  width:6%;
  height:31%;
}

.paperDoll .mechLL {
  top: 55%;
  left:63%;
  width:13%;
  height:35%;
}

.paperDoll .mechRL {
  top: 55%;
  left:12%;
  width:13%;
  height:35%;
}

.mechHealthNumbers {
  padding-top: 5px;
  font-size: 90%;
}

.mechHealthNumbers .healthNumberHeader {
  font-weight: bold;
  text-align: center;
  border-bottom: solid thin white;
}


.mechHealthNumbers .healthNumber {
  text-align: center;
}

/*Heat bar style*/
.heatbarFrame {
  position: relative;
  height: 100px;
  background-color: red;
  width: 10px;
}

/*note: the heatbar is actually the empty top part of the heat guage. */
.heatbar {
  top: 0%;
  height:50%;
  width: 100%;
  left:0%;
  background-color: white;
}

/*Weapon panel styles*/
.weaponPanelRow {
  position: relative;
  font-size: 0.9em;
  padding-bottom: 2px;
  transition: background-color 0.3s ease-out;
}

.weaponName {
}

.weaponLocation {

}

.weaponCooldownFrame {
  margin-top: 5px;
  width: 50px;
  height: 5px;
  background-color: white;
  position: relative;
}

.weaponCooldownBar {
  background-color: red;
  height:100%;
  width: 0%;
  position:absolute;
  top: 0%;
  left: 0%;
}

.weaponAmmo {
  text-align: center;
}

.weaponPanelRow.Ready {
}

.weaponPanelRow.Cooldown {
  color : rgb(255, 50, 50);
}

.weaponPanelRow.Firing {
  background-color: gray;
  color : white;
}

.weaponPanelRow.Disabled {
  opacity: 0.5;
  color : gray;
}

.weaponPanelRow.Spooling {
  color : white;
}

/*Status panel styles*/
.statusPanelContainer {

}

.statusPanel {

}

.statusPanel .row {
  margin-bottom: 2px;
}

.titlePanelContainer {
  margin-bottom: 3px;
}

.titlePanel {
}

.titlePanel .mechName a {
  font-weight: bold;
  font-size: 1.2em;
  color: gold;
  text-decoration: none;
}

.titlePanel .mechName a:hover {
  text-decoration: underline;
}

.titlePanel .deleteMechButton {
  float: right;
  background-color: maroon;
  border: thin solid white;
  border-radius: 5px;
  font-size: 1.2em;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.titlePanel .deleteMechButton:hover {
  background-color: red;
}

.statusPanel .mechSummaryHealthLabel {
  font-weight: bold;
}

.statusPanel .mechSummaryHealthText {
  font-weight: bold;
}

.statusPanel .mechTargetLabel {
  font-weight: bold;
  font-size: 0.9em;
}

.statusPanel .mechTargetText {
  font-size: 0.9em;
}

.teamStats {
  padding-bottom: 5px;
}

.teamStats .teamName {
  font-size: 1.7em;
  font-weight: bold;
}

.teamStats.blue .teamName {
  color: rgb(30,144,255);
}
.teamStats.red .teamName {
  color: rgb(200,50,50);
}

.button {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: solid thin black;
  border-radius: 5px;
  background-color: gold;
  color: rgb(30,30,30);
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
  background-color: rgb(255,255,30);
}

.button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.teamStats .addMechButton {
  font-size: 1em;
  max-width: 7em;
  float: right;
  transition: background-color 0.5s ease;
}

.modalScreen {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modalScreen .modalDialog {
  background-color: rgb(32, 32, 32);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: rgb(170, 170, 170);
}

.wideInputText {
}


.addMechDialogContainer {

}

#addMechDialog-text {
  border-radius: 3px;
  border: solid thin gold;
  padding: 3px;
  margin-top: 2px;
  float:none;
}

@keyframes buttonglow {
  0% {background-color: gold;}
  50% {background-color: rgb(255,255,30);}
  100% {background-color: gold;}
}

@keyframes textglow {
  0% {color: goldenrod;}
  50% {color: yellow;}
  100% {color: goldenrod;}
}

@keyframes errorblink {
  50% {background-color: rgb(255, 0, 0); color: white;}
}

#addMechDialog-load {
  float:right;
}

#addMechDialog-load.loading {
  cursor:none;
  animation-duration: 1s;
  animation-name: buttonglow;
  animation-iteration-count: infinite;
  opacity: 1;
}

#addMechDialog-ok, #addMechDialog-cancel {
  float: right;
}

#addMechDialog-result {

}

#addMechDialog-result.error {
  animation-duration: 0.5s;
  animation-name: errorblink;
  animation-iteration-count: 1;
}

.loadingScreen {
}

#loadingScreenPaperDollContainer {
  width: 80px;
  height: 100px;
  margin: 0% auto;
}

.loadingScreenText {
  text-align: center;
  font-size: 2em;
  animation-duration: 1s;
  animation-name: textglow;
  animation-iteration-count: infinite;
  color:goldenrod;
}
