/*Main panel styles*/
body {
  background-color: black;
  color: #aaaaaa;
  font-family: sans-serif;
  font-size: 14px;
}

.controlPanel {

}

.debugPanel {

}

.debugPanel .debugButton {
  display : none;
}

.mechPanelList {

}

.mechPanel {
  border-width: thin;
  border-style: solid;
  padding: 5px;
}

.mechPanel .paperDollContainer {

}

.mechPanel .heatbarContainer {
  width: 100%;
}

.mechPanel .heatbarContainer .heatbarFrame {
  margin: auto;
}
.mechPanel .heatbarContainer .heatbarFrame .heatbar {
}

.mechPanel .heatNumber {
  font-size: 80%;
  text-align: center;
}

.mechPanel .weaponPanelContainer {

}

.redPanel {
  border-color: red;
}

.bluePanel {
  border-color: blue;
}

.template {
  display: none;
}

/*Paper doll style*/
.paperDoll {
  position:relative;
  height: 100px;
}

.paperDoll .mechLA,
.paperDoll .mechRA,
.paperDoll .mechLT,
.paperDoll .mechRT,
.paperDoll .mechCT,
.paperDoll .mechLL,
.paperDoll .mechRL,
.paperDoll .mechH,
.paperDoll .mechRearLT,
.paperDoll .mechRearRT,
.paperDoll .mechRearCT
{
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  position:absolute;
}

.paperDoll .mechH {
  top:0%;
  left:39%;
  width: 14%;
  height:9%;
}

.paperDoll .mechLA {
  top: 14%;
  left:0%;
  width:10%;
  height:31%;
}

.paperDoll .mechLT {
  top: 14%;
  left:15%;
  width:14%;
  height:23%;
}

.paperDoll .mechCT {
  top: 14%;
  left:34%;
  width:24%;
  height:48%;
}

.paperDoll .mechRT {
  top: 14%;
  left:63%;
  width:15%;
  height:23%;
}

.paperDoll .mechRA {
  top: 14%;
  left:82%;
  width:10%;
  height:31%;
}

.paperDoll .mechLL {
  top: 55%;
  left:12%;
  width:17%;
  height:35%;
}

.paperDoll .mechRL {
  top: 55%;
  left:63%;
  width:17%;
  height:35%;
}

.mechHealthNumbers {
  font-size: 90%;
}

.mechHealthNumbers .healthNumberHeader {
  font-weight: bold;
}


.mechHealthNumbers .healthNumber {
}

/*Heat bar style*/
.heatbarFrame {
  position: relative;
  height: 100px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  background-color: red;
  width: 10px;
}

/*note: the heatbar is actually the empty top part of the heat guage. */
.heatbar {
  top: 0%;
  height:50%;
  width: 100%;
  left:0%;
  background-color: white;
}

/*Weapon panel styles*/
.weaponPanelRow {
}

.weaponName {
}

.weaponLocation {

}

.weaponCooldownFrame {
  width: 50px;
  height: 5px;
  background-color: white;
  vertical-align: middle;
  position: relative;
}

.weaponCooldownBar {
  background-color: red;
  height:100%;
  width: 50%;
  position:absolute;
  top: 0%;
  left: 0%;
}

.weaponAmmo {

}

.weaponPanelRow.Ready {
}

.weaponPanelRow.Cooldown {
  color : red;
}

.weaponPanelRow.Firing {
  background-color: grey;
  color : white;
}

.weaponPanelRow.Disabled {
  opacity: 0.5;
  color : gray;
}

.weaponPanelRow.Spooling {
  color : white;
}

/*Status panel styles*/
.statusPanelContainer {

}

.statusPanel {

}

.statusPanel .mechName {
  font-weight: bold;
}
