php/data/*
!php/data/default
!php/data/smoketest
!php/data/dpstest
!php/data/dpstest-empty
!php/data/empty
!php/data/errortest
php/log
php/cache
backups
nodejs/gamexmlparser/node_modules
nodejs/**/*.bat
nodejs/gamexmlparser/build
tslint.out
node_modules
profiling