.testSpan {
  background-color: red;
  margin-left: 5px;
}

.touchTest {
  background-color: blue;
  color: white;
  box-sizing: border-box;
  width: auto;
  margin: 10px;
  padding: 5px;
  border: solid thin black;
  cursor: pointer;
  float: left;
}